/* Variables */
:root{
	--blue: #0C2FFB;
	--cyan: #2CFCFD;
	--red: #FB203B;
	--yellow: #FEFC4B;
	--main-font-family: t26-carbon, monospace;
}

body {
	font-family: t26-carbon, monospace;
	font-weight: 400;
	font-style: normal;
	background-color: #0d0102;
	color: white;
	padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: t26-carbon, monospace;
	font-weight: 700;
	font-style: normal;
}

h1 {
	margin: 30px 0;
}
.title-container {
	margin: 0 auto;
	display: flex;
	width: 50%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.title {
	font-size: 9rem;
	line-height: 80%;
	text-transform: uppercase;
	margin: 0;
}
.subtitle > * {
	display: inline-block;
}
.subtitle a {
	margin-left: 20px;
	color: var(--red);
}
.subtitle a:hover {
	color: var(--yellow);
	animation: 1.0s ease-in-out;
}

*,
:before,
:after {
    box-sizing: border-box;
}


#wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 80em;
}

h1 {
    animation: text-shadow 5s ease-in-out infinite;
    font-size: 5em;
    font-weight: 900;
    line-height: 1;
    word-wrap: break-word;
}

a {
    color: #024794;
}

a:hover {
    text-decoration: none;
}

@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 var(--blue), 
            0 0 0 var(--cyan), 
            0 0 0 var(--red), 
            0 0 0 var(--yellow);
    }

    3% {  
        transform: translateX(-.4em);
        text-shadow: 
            0.15em 0 0 var(--blue), 
            0.05em 0 0 var(--cyan), 
            -0.05em 0 0 var(--red), 
            -0.15em 0 0 var(--yellow);
    }

   6% {  
        transform: translateX(0);
        text-shadow: 
            0 0 0 var(--blue), 
            0 0 0 var(--cyan), 
            0 0 0 var(--red), 
            0 0 0 var(--yellow);
    }

    88% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 var(--blue), 
            0 0 0 var(--cyan), 
            0 0 0 var(--red), 
            0 0 0 var(--yellow);
    }

    91% {  
        transform: translateX(.4em);
        text-shadow: 
            -0.15em 0 0 var(--blue), 
            -0.05em 0 0 var(--cyan), 
            0.05em 0 0 var(--red), 
            0.15em 0 0 var(--yellow);
    }

   94% {  
        transform: translateX(0);
        text-shadow: 
            0 0 0 var(--blue), 
            0 0 0 var(--cyan), 
            0 0 0 var(--red), 
            0 0 0 var(--yellow);
    }

}

@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
}

section {
	border-bottom: 1px dashed white;
	padding: 10px;
}

.width-constrained {
	max-width: 800px;
}

button {
	margin: 10px 0;
	padding: 4px 8px;
	color: white;
	font-family: t26-carbon, monospace;
	font-weight: 700;
	font-size: .9rem;
	background-color: var(--red);
	border: solid 5px var(--red);
	box-shadow: 0 10px 0 -5px var(--red), 0 -10px 0 -5px var(--red), 10px 0 0 -5px var(--red), -10px 0 0 -5px var(--red);
	background-image: linear-gradient(var(--red),var(--red)), linear-gradient(var(--red),var(--red)), linear-gradient(var(--red),var(--red)), linear-gradient(var(--red),var(--red));
	background-size: 15px 15px;
	background-repeat: no-repeat;
	background-position: top left, top right, bottom left, bottom right;
}
button:hover {
	color: black !important;
	background-color: var(--yellow);
	border: solid 5px var(--yellow);
	box-shadow: 0 10px 0 -5px var(--yellow), 0 -10px 0 -5px var(--yellow), 10px 0 0 -5px var(--yellow), -10px 0 0 -5px var(--yellow);
	background-image: linear-gradient(var(--yellow),var(--yellow)), linear-gradient(var(--yellow),var(--yellow)), linear-gradient(var(--yellow),var(--yellow)), linear-gradient(var(--yellow),var(--yellow));

}

button a {
	color: white;
	text-decoration: none;
}
button a:hover {
	color: black;
}


.container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}
.shows-container {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.show {
	margin: 10px;
}
.show h2 {
	font-size: 1rem;
}
a {
	color: var(--cyan);
}
a:hover {
	color: var(--red);
}
#ascii-art p {
	margin: 0;

}


@media (min-width: 600px) {
	p {
		font-size: .9rem;
	}
  
	section {
		border-bottom: 1px solid white;
	}

	.show {
		max-width: 33%;
	}
}